<nav class="navbar">
  <div class="navbar-brand">
    <a href="/">24seconds</a>
  </div>
  <ul class="navbar-menu">
    <li class="navbar-item"><a href="/home">Home</a></li>
    <li class="navbar-item"><a href="/shop">Shop</a></li>
    <li class="navbar-item"><a href="/about">About Us</a></li>
    <li class="navbar-item"><a href="/contact">Contact</a></li>
    <li class="navbar-item cart-container" (click)="toggleCart()">
      <img src="assets/icons/carrito.png" alt="Cart" class="cart-icon">
      <span class="cart-count">{{ cartItems.length }}</span>
      <div class="cart-dropdown" *ngIf="showCart">
        <app-cart-preview></app-cart-preview>
      </div>
    </li>
  </ul>
</nav>
