.pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.pagination button {
  margin: 0 10px;
  padding: 5px 15px;
  border: none;
  background-color: #da4747;
  color: white;
  cursor: pointer;
}

.pagination button:disabled {
  
  background-color: #ddd;
  cursor: not-allowed;
}

.pagination button.active {
  background-color: #b41717;
}
