.filter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 20px 0;
}

.filter-form {
  display: flex;
  flex-wrap: wrap; /* Para que se ajuste en pantallas más pequeñas */
  gap: 15px;
  align-items: center;
}

.filter-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-group label {
  font-weight: bold;
  margin-bottom: 5px;
}

.filter-group select,
.filter-group input {
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.filter-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  border-radius: 5px;
}

.filter-button:hover {
  background-color: #0056b3;
}
