.configurator {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  max-width: 600px;
  margin: auto;
}

.step-left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
}

.step-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.shoe-canvas-container {
  display: flex;
  justify-content: flex-start; /* Alinea la imagen a la izquierda */
}

.shoe-canvas {
  width: 400px;
  height: 400px;
  background-color: #ddd;
  margin-top: 20px;
  border-radius: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


input[type="color"] {
  width: 100px;
  height: 40px;
  border: none;
  cursor: pointer;
}

button {
  margin-top: 10px;
  padding: 10px;
  background: black;
  color: white;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

h3 {
  margin-top: 20px;
}
