.main-content {
  padding: 4rem 0;
}

.vote-section {
  text-align: center;
  margin-top: 20px;
}

.vote-button {
  background-color: #28a745;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 16px;
}

.vote-button:hover {
  background-color: #218838;
}

.start-survey-section {
  text-align: center;
  margin-top: 20px;
}

.start-survey-button {
  position: relative;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: inline-block;
}

.start-survey-button .background-image {
  width: 100%;
  height: auto;
  border-radius: 8px;
}

.start-survey-button span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
}

.custom-shoe-section {
  text-align: center;
  margin-top: 20px;
}

.custom-shoe-button {
  background: linear-gradient(to right, #ff9800, #ff5722);
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  cursor: pointer;
  transition: 0.3s;
}


.custom-shoe-button:hover {
  background: linear-gradient(to right, #ff5722, #e64a19);
}
