.card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 16px;
  width: 300px; /* Mantiene el mismo ancho */
  height: 500px; /* Aumenta la altura para evitar que se comprima el contenido */
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  position: relative;
}

.card img {
  width: 100%;
  height: auto; /* Permite que la imagen mantenga su proporción */
  max-height: 200px; /* Evita que se haga demasiado grande */
  object-fit: contain; /* Mantiene la imagen completa sin recortarla */
  margin-bottom: 16px;
}

.card-content {
  padding: 16px;
  flex-grow: 1; /* Permite que el contenido crezca para empujar el botón hacia abajo */
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-content h3 {
  margin: 0;
  font-size: 1.5em;
}

.card-content p {
  margin: 8px 0;
  color: #555;
}

/* Botón alineado al fondo */
.add-to-cart-button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 12px;
  cursor: pointer;
  border-radius: 5px;
  font-size: 14px;
  margin-top: auto; /* Empuja el botón hacia abajo */
  width: 100%;
  text-align: center;
}

.add-to-cart-button:hover {
  background-color: red;
}

.sizes {
  display: none;
  background: rgba(255, 255, 255, 0.8);
  padding: 5px;
  border-radius: 5px;
  width: 100%; /* Adjust width to fit within the card */
  box-sizing: border-box;
}

.card:hover .sizes {
  display: flex;
  align-items: center;
}

.size-box {
  display: inline-block;
  width: 30px;
  height: 30px;
  line-height: 30px;
  margin: 2px;
  text-align: center;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #f9f9f9;
}

.comparison-icon-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  margin-top: 10px; /* Adjusted position */
  width: 40px; /* Adjusted size */
  height: 40px; /* Adjusted size */
}

.comparison-icon {
  width: 10px; /* Adjusted size */
  height: 10px; /* Adjusted size */
  cursor: pointer; /* Hace que el cursor cambie a una mano */
  transition: transform 0.2s ease-in-out;
}

.comparison-icon:hover {
  transform: scale(1.2); /* Efecto al pasar el mouse */
}

.notification {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}
