<div class="card">
  <img [src]="shoe.image" alt="{{ shoe.name }}">
  <div class="card-content">
    <h3>{{ shoe.name }}</h3>
    <p>Brand: {{ shoe.brand }}</p>
    <p>Price: ${{ shoe.price }}</p>
    <p>{{ shoe.description }}</p>
    <button class="add-to-cart-button" (click)="addToCart(shoe)">Añadir al carrito</button>
    <div class="sizes" *ngIf="shoe.sizes && shoe.sizes.length">
      <div class="size-container">
        <span *ngFor="let size of shoe.sizes" class="size-box">{{ size }}</span>
      </div>
      <div class="comparison-icon-container">
        <div class="comparison-icon-wrapper">
          <img src="assets/icons/comparacion.png"
               alt="Comparacion Icon"
               class="comparison-icon"
               (click)="compareShoe(shoe)"
               tabindex="0">
        </div>
      </div>
    </div>
  </div>
  <app-notification-system></app-notification-system>
</div>
