.modal {
  background-color: rgba(17, 17, 17, 0.4);
}

.modal-content {
  background-color: #da4747;
  border: 1px solid #888;
  padding: 20px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
