<app-navbar></app-navbar>

<div class="main-content">
  <app-product-filter (filterChange)="onFilterChange($event)"></app-product-filter>
  <app-hero-section></app-hero-section>

  <!-- Aquí va el contenido principal de la página -->
</div>

<!-- Botón para abrir la encuesta de satisfacción -->
<button class="survey-button" (click)="openSurvey()">Haz nuestra encuesta de satisfacción</button>

<!-- Componente de la encuesta -->
<app-survey *ngIf="showSurvey" (closeSurvey)="closeSurvey()"></app-survey>

<app-footer></app-footer>
